<h1><%= "#{@player.name}!"%> Make your bet!</h1>
<h2>You have $<%="#{@player.money}"%></h2>

<form action="/game/bet" method="post">
  <span>Bet amount:</span>
  <br>
  <input type="text" name="player_bet">
  <br>
  <input type="submit">
</form>

