<p> Hello, player! </p>
<form action="/new_player" method="post">
  <span>Name:</span> <br>
  <input type="text" name="player_name"> <br>
  <span>Money:</span> <br>
  <input type="text" name="player_money"> <br>
  <input type="submit" value="submit">
</form>
